<accordion close-others="oneAtATime">
    <accordion-group heading="Areas" is-open="true">
        <form name="AreaForm" novalidate>
            <button type="submit" class="btn btn-primary"
                    ng-click="addNewArea()">Add Area
            </button>


            <div ng-if="siteToEdit.areas.length>0">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Active</th>
                        <th>Short Name</th>
                        <th>Floor</th>
                        <th>Type</th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="area in siteToEdit.areas">
                        <td>{{area.name}}</td>
                        <td>{{area.isActive}}</td>
                        <td>{{area.shortName}}</td>
                        <td>{{area.Floor}}</td>
                        <td>{{area.Type}}</td>

                        <td ng-click="editArea(area)">
                            <i class="fa fa-pencil-square-o"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="siteToEdit.areas.length<1">
                no existing area for this site.
            </div>


        </form>
    </accordion-group>
</accordion>
