<div class="checkbox">
    <label>
        <input type="checkbox" name="deactivated" ng-model="siteToEdit.deactivated" ng-true-value="true"
               ng-false-value="false">
        Deactivated
    </label>
</div>

<div class="checkbox">
    <label>
        <input type="checkbox" name="captureRateActivated" ng-model="siteToEdit.captureRateActivated"
               ng-true-value="true"
               ng-false-value="false">
        Capture Rate
    </label>
</div>

<div class="checkbox">
    <label>
        <input type="checkbox" name="conversionRateActivated"
               ng-model="siteToEdit.conversionRateActivated"
               ng-true-value="true"
               ng-false-value="false">
        Conversion Rate
    </label>
</div>



