<div ng-controller="site_ordersController">
    <table class="table">
        <tbody>
        <tr>
            <td>


            </td>
        </tr>
        <tr>
            <td>

                <div class="alert alert-info" role="alert" ng-if="orders.length>0">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Only not connected channels matching with the orders content are displayed.
                    The matching is done on PCU serial number.
                </div>
                <div class="alert alert-warning" role="alert" ng-if="orders.length<1">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    No open orders for this customer.
                </div>
            </td>


        </tr>


        <tr>
            <td>

                <label>Select a Channel :</label>

                <div class="btn-group" dropdown>
                    <button id="channel-button" type="button"
                            ng-class="siteToEdit.selectedChannel==undefined? 'btn btn-info' : 'btn btn-primary'"
                            dropdown-toggle
                            >
                        <div ng-if="siteToEdit.selectedChannel">
                            {{siteToEdit.selectedChannel.sensor.device.identifier.serialNumber}}-{{siteToEdit.selectedChannel.name}}
                         <span
                                 class="caret"></span>
                        </div>

                        <div ng-if="siteToEdit.selectedChannel==undefined || siteToEdit.selectedChannel==null">
                            {{filteredChannels.length}} channel(s)
                            available <span class="caret"></span>
                        </div>
                    </button>


                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li ng-repeat="channel in filteredChannels | orderBy:'name'">
                            <a ng-click="selectChannel(channel)">{{channel.sensor.device.identifier.serialNumber}} -
                                {{channel.name}} </a>
                        </li>
                    </ul>
                </div>
                <div ng-if="filteredChannels.length<1" class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    No channel available for this customer
                </div>

            </td>
        </tr>

        <tr>
            <td>
                <label>Select a Sensor :</label>

                <div ng-if="notConnectedSensors.length>0" class="btn-group" dropdown>
                    <button id="sensor-button" type="button"
                            ng-class="siteToEdit.selectedSensor==undefined? 'btn btn-info' : 'btn btn-primary'"
                            dropdown-toggle
                            >


                        <div ng-if="siteToEdit.selectedSensor">
                            {{siteToEdit.selectedSensor.serial}} <span
                                class="caret"></span>
                        </div>

                        <div ng-if="siteToEdit.selectedSensor==undefined || siteToEdit.selectedSensor==null">
                            {{notConnectedSensors.length}} sensor(s)
                            available <span class="caret"></span>
                        </div>


                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li ng-repeat="sensor in notConnectedSensors | orderBy:'serial'">
                            <a ng-click="selectSensor(sensor)">{{sensor.serial}} </a>
                        </li>
                    </ul>
                </div>
                <div ng-if="notConnectedSensors.length<1" class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    No sensor available for this customer
                </div>

            </td>
        </tr>

        <tr>
            <td>
                <label>Select a Passage :</label>

                <div ng-if="notConnectedPassages.length>0" class="btn-group" dropdown>
                    <button id="passage-button" type="button"
                            ng-class="(siteToEdit.selectedPassage==undefined ||siteToEdit.selectedPassage==null) ? 'btn btn-info' : 'btn btn-primary'"
                            dropdown-toggle
                            >
                        <div ng-if="siteToEdit.selectedPassage">
                            {{siteToEdit.selectedPassage.name}} <span
                                class="caret"></span>
                        </div>

                        <div ng-if="siteToEdit.selectedPassage==undefined || siteToEdit.selectedPassage==null">
                            {{notConnectedPassages.length}} passage(s)
                            available <span class="caret"></span>
                        </div>

                    </button>


                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li ng-repeat="passage in notConnectedPassages| orderBy:'name' ">
                            <a ng-click="selectPassage(passage)">{{passage.name}}</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="notConnectedPassages.length<1" class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    No passage available for this customer
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <button type="submit" class="btn btn-primary btn-xs"
                            ng-if="siteToEdit.selectedPassage && siteToEdit.selectedChannel  && siteToEdit.selectedSensor"
                            ng-click="connectPassageToChannel()"><i class="fa fa-link fa-2x"></i> Connect
                    </button>
                </div>
            </td>
            <td>
            </td>
        </tr>

        </tbody>
    </table>

    <hr>

    <table class="table">
        <thead>
        <tr>
            <th>Passage</th>
            <th>Channel</th>
            <th>Sensor</th>
            <th>PCU</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="connector in siteToEdit.connectors">
            <td>{{connector.passageConnector.passage.name}}</td>
            <td>{{connector.passageConnector.channel.name}}</td>
            <td>{{connector.sensorMD.serial}}</td>
            <td>{{connector.passageConnector.channel.sensor.device.identifier.serialNumber}}</td>
            <td ng-click="removeConnector(connector)">
                <mark>remove</mark>
            </td>

        </tr>
        </tbody>
    </table>


</div>


