<accordion close-others="oneAtATime">
    <accordion-group heading="Groups">
        <form name="GroupsForm" novalidate>

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tag in siteToEdit.tagsWrapper">
                    <td><input type="checkbox" ng-model="tag.checked"></td>
                    <td>{{tag.name}}</td>
                </tr>
            </table>
        </form>
    </accordion-group>
</accordion>