<accordion close-others="oneAtATime">
    <accordion-group heading="Opening Times">
        <form name="openingHoursForm" novalidate>
            <label>Since : </label>
            {{siteToEdit.openingHoursWrapper[0].from | date:'yyyy-MM-dd'}}

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>

                    <th>From</th>
                    <th>To</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="openingHour in siteToEdit.openingHoursWrapper[0].openingHours">
                    <td>{{openingHour.weekDay}}</td>
                    <td>
                        <span ng-if="!openingHour.closed" class="label label-success">open</span>


                        <span ng-if="openingHour.closed" class="label label-warning">closed</span>

                    </td>

                    <td>
                        <div ng-if="!openingHour.closed">{{openingHour.fromHours}}:{{openingHour.fromMinutes}}</div>
                    </td>
                    <td>
                        <div ng-if="!openingHour.closed">{{openingHour.toHours}}:{{openingHour.toMinutes}}</div>
                    </td>
                </tr>


            </table>
            <button type="button" class="btn btn-default" ng-click="createNewOpeningTimes()">new Opening Times</button>
            <script type="text/ng-template" id="createOpeningTimes.html">

                <div class="modal-header">
                    <h3 class="modal-title">New opening Hours</h3>
                </div>

                <div class="modal-body">
                    <label>From : {{newOpeningHours.from | date:'yyyy-MM-dd'}} </label>

                    <div style="display:inline-block; min-height:290px;">
                        <div class="well well-sm" ng-model="newOpeningHours.from">
                            <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Closed</th>
                            <th>Over Midnight</th>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in newOpeningHours.openingHours">
                            <td>
                                {{item.weekDay}}
                            </td>
                            <td>
                                <label>
                                    <input type="checkbox" name="closed"
                                           ng-model="item.closed" ng-true-value="true"
                                           ng-false-value="false">

                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="checkbox" name="closed"
                                           ng-model="item.overMidnight" ng-true-value="true"
                                           ng-false-value="false">

                                </label>

                            </td>

                            <td>
                                <div>
                                    <span ng-if="item.closed" class="label label-warning">closed</span>
                                </div>
                                <div class="btn-group" dropdown is-open="status.isopen" ng-if="!item.closed">
                                    <button id="from-hour-button" type="button" class="btn btn-info" dropdown-toggle
                                            ng-disabled="disabled">
                                        {{item.fromHours}}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li ng-repeat="hour in openingHoursList">
                                            <a ng-click=" item.fromHours = hour; validate()">{{hour}}</a>
                                        </li>
                                    </ul>
                                    :
                                </div>

                                <div class="btn-group" dropdown is-open="status.isopen" ng-if="!item.closed">
                                    <button id="from-minutes-button" type="button" class="btn btn-info" dropdown-toggle
                                            ng-disabled="disabled">
                                        {{item.fromMinutes}}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li ng-repeat="minute in openingMinutesList">
                                            <a ng-click=" item.fromMinutes = minute; validate()">{{minute}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group" dropdown is-open="status.isopen" ng-if="!item.closed">
                                    <button id="to-hour-button" type="button" class="btn btn-info" dropdown-toggle
                                            ng-disabled="disabled">
                                        {{item.toHours}}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li ng-repeat="hour in openingHoursList">
                                            <a ng-click="item.toHours = hour; validate()">{{hour}}</a>
                                        </li>
                                    </ul>
                                    :
                                </div>
                                <div class="btn-group" dropdown is-open="status.isopen" ng-if="!item.closed">
                                    <button id="to-minutes-button" type="button" class="btn btn-info" dropdown-toggle
                                            ng-disabled="disabled">
                                        {{item.toMinutes}}
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li ng-repeat="minute in openingMinutesList">
                                            <a ng-click=" item.toMinutes = minute; validate()">{{minute}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-primary"

                            ng-click="setAllDaySameOpeningHours()">Set the same opening Hours as Monday
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-disabled="!isValid" ng-if="isValid"
                            ng-click="saveNewOpeningTimes()">OK
                    </button>
                    <button class="btn btn-warning" type="button" ng-click="cancelOpeningTimes()">Cancel</button>
                </div>
            </script>

        </form>
    </accordion-group>
</accordion>