<div class="orderDetails" ng-show="!displayPassageDetails && !displayNewCaptureRate">

    <div class="alert alert-warning" role="alert" ng-if="orders.length<1">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        No open orders.
    </div>

    <div id="orderSelection" ng-if="!hideOrderSelection && orders.length>0"
    >

        Select an order :
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    <input type="text" class="form-control" placeholder="Search in orders" ng-model="searchOrder"
                           style="width:50%">

                </div>
            </div>
        </form>
        <div id="orderTableId" style="overflow: auto;height: 350px !important;">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <div
                                ng-click="changeSorting('order', sort_order)"><i class="fa fa-sort"></i>PO#
                        </div>
                    </th>
                    <th>Place</th>
                    <th>Remark</th>
                    <th> Total PCU</th>
                    <th>Total Sensors</th>
                </tr>
                </thead>

                <tr ng-repeat="order in orders |orderBy:sort_order.column:sort_order.descending |filter:searchOrder"
                    ng-click="viewOrder(order)" ng-class="{success: order.id === selectedOrder.id}">
                    <td>

                        <strong> {{order.order}} </strong>

                    </td>
                    <td> {{order.place}}</td>
                    <td> {{order.remark}}</td>
                    <td> {{order.PCUs.length}}</td>
                    <td> {{order.sensors.length}}</td>
                </tr>
            </table>

        </div>
        <div class="row">
            <div class="col-md-4">

                <div ng-if="selectedOrder.PCUs.length<1">
                    No PCU in this order.
                </div>
                <div ng-if="selectedOrder.PCUs.length>0">
                    Select PCU :
                    <ui-select ng-model="pcu.selected" theme="selectize" style="width: 300px;"
                               ng-change="addPCU(pcu.selected)">
                        <ui-select-match placeholder="Select or search a PCU in the list...">{{$select.selected.serial}}
                            -
                            {{$select.selected.remark}}
                        </ui-select-match>
                        <ui-select-choices repeat="pcu in selectedOrder.PCUs | filter: $select.search">
                            <span ng-bind-html="pcu.serial | highlight: $select.search"></span>
                            <small ng-bind-html="pcu.remark | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-4">

                <div ng-if="selectedOrder.bbb.length<1">
                    No BBB in this order.
                </div>
                <div ng-if="selectedOrder.bbb.length>0">
                    Select BBB :
                    <ui-select ng-model="sensor.selected" theme="selectize" style="width: 300px;"
                               ng-change="addBBB(sensor.selected)">
                        <ui-select-match placeholder="Select or search a sensor in the list...">
                            {{$select.selected.serial}}
                            -
                            {{$select.selected.remark}}
                        </ui-select-match>
                        <ui-select-choices repeat="sensor in selectedOrder.bbb | filter: $select.search">
                            <span ng-bind-html="sensor.serial | highlight: $select.search"></span>
                            <small ng-bind-html="sensor.remark | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-4">

                <div ng-if="selectedOrder.nonBbbSensors.length<1">
                    No Sensors in this order.
                </div>
                <div ng-if="selectedOrder.nonBbbSensors.length>0">
                    Select Sensor :
                    <ui-select ng-model="sensor.selected" theme="selectize" style="width: 300px;"
                               ng-change="addSensor(sensor.selected)">
                        <ui-select-match placeholder="Select or search a sensor in the list...">
                            {{$select.selected.serial}}
                            -
                            {{$select.selected.remark}}
                        </ui-select-match>
                        <ui-select-choices repeat="sensor in selectedOrder.nonBbbSensors | filter: $select.search">
                            <span ng-bind-html="sensor.serial | highlight: $select.search"></span>
                            <small ng-bind-html="sensor.remark | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="hideOrderSelection" ng-show="!displayPassageDetails">
        <button type="submit" class="btn btn-primary btn-xs"

                ng-click="gotoOrders()">Back to orders
        </button>


    </div>

    <div class="row">
        <div class="col-md-4">
            Your PCUs :
            <table class="table table-bordered">


                <tr ng-repeat="pcu in selectedPCUs " class="info">
                    <td>
                        <strong> {{pcu.serial}} </strong>
                    </td>
                    <td> {{pcu.remark}}</td>
                    <td>
                        <div ng-if="!hideOrderSelection">
                            <span type="submit" style="padding:0 !important" ng-click="removePCU(pcu)"><mark>-
                            </mark></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            Your BBB :
            <table class="table table-bordered">

                <tr ng-repeat="sensor in selectedBBB " class="info">
                    <td>
                        <strong> {{sensor.serial}} </strong>
                    </td>
                    <td> {{sensor.remark}}</td>
                    <td>
                        <div ng-if="!hideOrderSelection">
                            <span type="submit" style="padding:0 !important" ng-click="removeBBB(sensor)"><mark>-
                            </mark></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            Your Sensors :
            <table class="table table-bordered">

                <tr ng-repeat="sensor in selectedSensors " class="info">
                    <td>
                        <strong> {{sensor.serial}} </strong>
                    </td>
                    <td> {{sensor.remark}}</td>
                    <td>
                        <div ng-if="!hideOrderSelection">
                            <span type="submit" style="padding:0 !important" ng-click="removeSensor(sensor)"><mark>-
                            </mark></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div ng-if="selectedPCUs.length>0 && selectedSensors.length>0 && !hideOrderSelection"
             class="col-md-4">
            <button type="submit" class="btn btn-primary btn-xs"

                    ng-click="gotoConnection()">Go to connections
            </button>


        </div>
    </div>
    <div ng-if="!hideOrderSelection">
        <button type="submit" class="btn btn-warning btn-xs"

                ng-click="resetOrdersSelections()">Reset selection
        </button>
    </div>

</div>

</div>


<div id="connections" class="orderDetails" ng-if="hideOrderSelection" ng-show="!displayPassageDetails">

    <div class="row">
        <div class="col-md-3">
            <div ng-if="filteredChannels.length>0" class="btn-group" dropdown>
                <button id="channel-button" type="button"
                        ng-class="siteToEdit.selectedChannel==undefined? 'btn btn-info' : 'btn btn-success'"
                        dropdown-toggle
                        data-toggle="tooltip" data-placement="top" title=" Only not connected channels matching with the orders content are displayed.
                    The matching is done on PCU serial number.">
                    <div ng-if="siteToEdit.selectedChannel">
                        {{siteToEdit.selectedChannel.sensor.device.identifier.serialNumber}}-{{siteToEdit.selectedChannel.name}}
                         <span
                                 class="caret"></span>
                    </div>

                    <div ng-if="siteToEdit.selectedChannel==undefined || siteToEdit.selectedChannel==null">
                        {{filteredChannels.length}} channel(s)
                        available <span class="caret"></span>
                    </div>
                </button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li ng-repeat="channel in filteredChannels">
                        <a ng-click="selectChannel(channel)">{{channel.sensor.device.identifier.serialNumber}}
                            -
                            <strong> {{channel.name}}</strong> </a>
                    </li>
                </ul>
            </div>
            <div ng-if="filteredChannels.length<1" class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                No channel available.
            </div>
        </div>
        <div class="col-md-3" ng-class="{hide: hideBBB}">
            <div ng-if="notConnectedBBB.length>0" class="btn-group" dropdown>
                <button id="bbb-button" type="button"
                        ng-class="siteToEdit.selectedBBB==undefined? 'btn btn-info' : 'btn btn-success'"
                        dropdown-toggle
                >


                    <div ng-if="siteToEdit.selectedBBB">
                        {{siteToEdit.selectedBBB.serial}} <span
                            class="caret"></span>
                    </div>

                    <div ng-if="siteToEdit.selectedBBB==undefined || siteToEdit.selectedBBB==null">
                        {{notConnectedBBB.length}} BBB(s)
                        available <span class="caret"></span>
                    </div>


                </button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li ng-repeat="sensor in notConnectedBBB | orderBy:'serial'">
                        <a ng-click="selectBBB(sensor)">{{sensor.serial}} </a>
                    </li>
                </ul>
            </div>
            <div ng-if="notConnectedBBB.length<1" class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                No BBB available.
            </div>
        </div>
        <div class="col-md-3" ng-class="{expand: hideBBB}">
            <div ng-if="notConnectedSensors.length>0" class="btn-group" dropdown>
                <button id="sensor-button" type="button"
                        ng-class="siteToEdit.selectedSensor==undefined? 'btn btn-info' : 'btn btn-success'"
                        dropdown-toggle
                >

                    <div ng-if="siteToEdit.selectedSensor">
                        {{siteToEdit.selectedSensor.serial}} <span
                            class="caret"></span>
                    </div>

                    <div ng-if="siteToEdit.selectedSensor==undefined || siteToEdit.selectedSensor==null">
                        {{notConnectedSensors.length}} sensor(s)
                        available <span class="caret"></span>
                    </div>

                </button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li ng-repeat="sensor in notConnectedSensors | orderBy:'serial'">
                        <a ng-click="selectSensor(sensor)">{{sensor.serial}} </a>
                    </li>
                </ul>
            </div>
            <div ng-if="notConnectedSensors.length<1" class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                No sensor available.
            </div>
        </div>
        <div class="col-md-3">
            <div ng-if="siteToEdit.passages.length>0" class="btn-group" dropdown>
                <button id="passage-button" type="button"
                        ng-class="(siteToEdit.selectedPassage==undefined ||siteToEdit.selectedPassage==null) ? 'btn btn-info' : 'btn btn-success'"
                        dropdown-toggle
                >
                    <div ng-if="siteToEdit.selectedPassage">
                        {{siteToEdit.selectedPassage.name}} <span
                            class="caret"></span>

                    </div>


                    <div ng-if="siteToEdit.selectedPassage==undefined || siteToEdit.selectedPassage==null">
                        {{siteToEdit.passages.length}} passage(s)
                        available <span class="caret"></span>
                    </div>

                </button>


                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li ng-repeat="passage in siteToEdit.passages| orderBy:'name' ">
                        <a ng-click="selectPassage(passage)">{{passage.name}}</a>
                    </li>
                </ul>
            </div>
            <div ng-if="siteToEdit.passages.length<1" class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                No passage available.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right" style="margin-right: 50px;margin-top: 25px;">
            <button type="submit" class="btn btn-default btn-xs"
                    ng-if="siteToEdit.selectedPassage && siteToEdit.selectedChannel  && siteToEdit.selectedSensor"
                    ng-click="connectPassageToChannelToSensor()">Connect !
            </button>
        </div>
    </div>
    <div>

    </div>


    <hr>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Passage</th>
            <th>Channel</th>
            <th>BBB</th>
            <th>Sensor</th>
            <th>PCU</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="connector in siteToEdit.connectors" class="success">
            <td>{{connector.passageConnector.passage.name}}</td>
            <td>{{connector.passageConnector.channel.name}}</td>
            <td>{{connector.bbb.serial}}</td>
            <td>{{connector.sensorMD.serial}}</td>
            <td>{{connector.passageConnector.channel.sensor.device.identifier.serialNumber}}</td>
            <td ng-click="removeConnector(connector)">
                <mark>remove</mark>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</div>
