<accordion close-others="oneAtATime">
    <accordion-group heading="Passages" is-open="true">
        <form name="PassageForm" novalidate>
            <button type="submit" class="btn btn-primary"
                    ng-click="addNewPassage()">Add passage
            </button>

            <button type="submit" class="btn btn-primary"
                    ng-show="siteToEdit.captureRateActivated"
                    ng-click="addNewCaptureRate()">Add capture Rate
            </button>

            <div ng-if="siteToEdit.passages.length>0">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Floor</th>
                        <th>Excluded</th>
                        <th>Connected</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="passage in siteToEdit.passages">
                        <td>{{passage.name}}</td>
                        <td>{{passage.floor}}</td>
                        <td>
                            <span ng-if="!passage.excluded" class="label label-warning">NO</span>
                            <span ng-if="passage.excluded" class="label label-success">YES</span>
                        </td>
                        <td>
                            <span ng-if="!passage.isConnected" class="label label-warning">NO</span>
                            <span ng-if="passage.isConnected" class="label label-success">YES</span>
                        </td>
                        <td ng-click="editPassage(passage)">
                            <i class="fa fa-pencil-square-o"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="siteToEdit.passages.length<1">
                no existing passages for this site.
            </div>


        </form>
    </accordion-group>
</accordion>
