<p>Alert <b>Bon Coing</b>!</p>


<table>
    <thead>
    <td>Title</td>
    <td>(Euros)</td>

    </thead>
    <tbody>
    {% if posts is not none %}
        {% for post in posts %}
            <tr>
                <td>
                    <a href={{ post.post_url }}> {{ post.post_title }}</a>
                </td>
                <td>

                </td>
                <td>
                    <b>{{ post.post_price }}</b>
                </td>


            </tr>

        {% endfor %}
    {% endif %}
    </tbody>
</table>
