<p><b>Bon Coing</b>!</p>


<table>
    <thead>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

    </thead>
    <tbody>
    {% if posts is not none %}
        {% for post in posts %}
            <tr>
                <td>
                    <a href={{ post.post_url }}> {{ post.post_title }}</a>
                </td>
                <td>

                </td>
                <td>
                    {% if post.post_price>=0 %}
                        <b>{{ post.post_price }} €</b>
                    {% endif %}
                    {% if post.post_price<=0 %}
                        <b>No price</b>
                    {% endif %}

                </td>
                <td>
                    {{ post.post_date }}
                </td>
                <td>
                    {{ post.post_city }}
                </td>


            </tr>

        {% endfor %}
    {% endif %}
    </tbody>
</table>
