<div ng-cloak>


    <div id="users-panel" class="panel panel-default">

        <p class="panel-body">

        <div ng-if="loading">
            <span class="fa fa-cog fa-spin fa-4x"></span> Loading Matching Sites list...
        </div>

        <div class="panel-heading">
            <i class="panel-title-icon fa fa-download"></i>
            <span class="panel-title">  <a target="_self" href="/customers/sites/matching/file"
                                           download="SiteMatching.xlsx"> Download As Excel
                List</a></span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div ng-if="!loading">
                    <table class="table-striped table">
                        <thead class="panel-title">
                        <th class="col-md-1" ng-click="changeSorting('customerName')"><i
                                class="fa fa-sort"></i>Customer
                        </th>
                        <th class="col-md-2">Site Name</th>
                        <th class="col-md-2">Database</th>
                        <th class="col-md-2">Jaro Winkler distance</th>
                        <th class="col-md-2">Levenshtein distance</th>
                        <th class="col-md-2">Best Match</th>

                        </thead>
                        <div>

                            <tbody>
                            <tr ng-repeat="matchingSite in matchingSites  |orderBy:sort.column:sort.descending">

                                <td><strong>{{matchingSite.customerName}}</strong></td>
                                <td> {{matchingSite.siteName}}</td>
                                <td> {{matchingSite.db}}</td>
                                <td> {{matchingSite.jaroWinklerDistance | number:0}} %</td>
                                <td> {{matchingSite.levenshteinDistance}}</td>

                                <td> {{matchingSite.bestMatch}}</td>
                            </tr>


                            </tbody>
                        </div>
                    </table>

                    <p class="alert alert-info" ng-if="matchingSites.length == 0">
                        No Sites found for this Application.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="panel-footer"></div>
</div>
</div>

</div>

</body>
</html>
