<div  ng-cloak>


    <div id="siteDetails-panel" class="panel panel-default">


        <p class="panel-body">

        <table class="table-striped table-hover">
            <thead class="panel-title">

            <th class="col-md-1" ng-click="changeSorting('name')"><i
                    class="fa fa-sort"></i>PCU #
            </th>
            <th class="col-md-1">Channel</th>
            <th class="col-md-1">Sensor</th>
            <th class="col-md-1">Passage</th>


            </thead>
            <div>

                <tbody>
                <tr ng-repeat="pcu in site.pcuList  |orderBy:sort.column:sort.descending">

                    <div ng-click="displaySiteDetailClick(site,'siteDetails')">
                        <strong> {{site.name}}</strong>
                    </div>
                    <td class="col-md-1">{{pcu.device}}</td>
                    <td class="col-md-1">{{pcu.channel}}</td>
                    <td class="col-md-1">{{pcu.sensor}}</td>
                    <td class="col-md-1">{{pcu.passage}}</td>
                </tr>


                </tbody>
            </div>
        </table>

        <p class="alert alert-info" ng-if="site.pcuList.length == 0">
            No Devices found for this Site.
        </p>
    </div>


</div>
<div class="panel-footer"></div>
</div>
</div>

</div>

</body>
</html>
