<div ng-cloak>

    <style type='text/css'>

    </style>


    <h1>{{currentCustomer}} </h1>

    <div ng-if="sites.length>0">{{sites.length}} sites.</div>


    <div id="sites-panel" ng-show="!editMode" class="panel panel-default">


        <p class="panel-body">


        <table class="table-striped table-hover">
            <thead class="panel-title">


            <th class="col-md-2" ng-click="changeSorting('newSiteName',sort_name)"><i
                    class="fa fa-sort"></i>Name
            </th>
            <th class="col-md-1" align="center">shop number</th>

            <th class="col-md-1" align="center">Time zone</th>
            <th class="col-md-1" align="center">Wifi</th>
            <th class="col-md-1" align="center">Capture rate</th>
            <th class="col-md-1" align="center">calibration end</th>
            <th class="col-md-1" align="center">status</th>
            <th class="col-md-1" align="center">in Master Devices DB</th>


            </thead>
            <div>

                <tbody>
                <tr ng-repeat="site in sites  |orderBy:sort_name.column:sort_name.descending">


                    <td>
                        <div ng-click="editSite(site)">
                            <strong> {{site.newSiteName}} </strong>
                        </div>
                    </td>
                    <td align="center">{{site.shortName}}</td>
                    <td align="center">{{site.selectedTimeZone}}</td>
                    <td align="center"><span ng-if="site.usingWifi" class="label label-success">ON</span></td>
                    <td align="center"><span ng-if="site.captureRateActivated" class="label label-success">ON</span>
                    </td>

                    <td align="center">{{site.calibrationEnd | date:'dd-MM-yyyy'}}</td>
                    <td align="center">

                        <span ng-if="!site.deactivated" class="label label-success">ON</span>

                        <span ng-if="site.deactivated" class="label label-warning">OFF</span>

                    </td>
                    <td align="center">
                        <span ng-if="site.masterDevicesId >-1" class="label label-success">YES</span>
                        <span ng-if="site.masterDevicesId == null" class="label label-warning">NO</span>


                    </td>

                </tr>
                </tbody>
            </div>
        </table>

        <p class="alert alert-info" ng-if="customers.length == 0">
            No Site found for this Customer.
        </p>
    </div>


    <button class="btn btn-success" ng-click="editSite({site:null})"
            ng-show="!editMode">
        <i class="fa fa-plus-square"></i> &nbsp; &nbsp;Create New Site
    </button>

    <h3 ng-show="createMode">Create New Site:</h3>

    <h3 ng-show="!createMode && editMode">Edit Site: {{siteToEdit.newSiteName}} </h3>


    <form name="siteForm" novalidate ng-show="editMode">

        <div class="row">
            <div class="col-md-3">
                <ng-include src="'/partials/sites/basic.html'"></ng-include>


                <h4>Calibration end</h4>

                <div style="display:inline-block; min-height:100%;">
                    <div class="well well-sm" ng-model="siteToEdit.calibrationEnd">
                        <datepicker min="minCalibrationDate" show-weeks="showWeeks"></datepicker>
                    </div>
                </div>

            </div>
            <div class="col-md-3">

                <ng-include ng-if="!createMode" src="'/partials/sites/passages.html'"></ng-include>

                <!-- <ng-include ng-if="!createMode" src="'/partials/sites/areas.html'"></ng-include>-->

                <!-- <ng-include src="'/partials/sites/thresholdAlarm.html'"></ng-include> -->

                <ng-include src="'/partials/sites/coordinates.html'"></ng-include>

                <ng-include src="'/partials/sites/address.html'"></ng-include>

                <ng-include src="'/partials/sites/contact.html'"></ng-include>

                <ng-include src="'/partials/sites/openingTimes.html'"></ng-include>

                <ng-include ng-if="tags.length>0" src="'/partials/sites/groups.html'"></ng-include>


                <ng-include src="'/partials/sites/checkBoxes.html'"></ng-include>


            </div>
            <div class="col-md-6">
                <ng-include ng-if="!createMode" src="'/partials/sites/orders.html'"></ng-include>
                <ng-include ng-if="displayPassageDetails" src="'/partials/sites/passageDetails.html'"></ng-include>
                <ng-include ng-if="displayNewCaptureRate" src="'/partials/sites/passageCaptureRate.html'"></ng-include>

                <hr>

                <div class="alert alert-warning" role="alert" ng-if="createMode">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Passages and Connections can only be managed once the site has been created.
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-if="!createMode"
                                    ng-disabled="!siteForm.$valid || !countryValid"
                                    ng-show="!displayPassageDetails"
                                    ng-click="updateSite(siteToEdit)">Update
                            </button>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-if="createMode"
                                    ng-disabled="!siteForm.$valid || selectedCountry==='select a country' || siteToEdit.calibrationEnd == null || openingHours != 'changed'"
                                    ng-click="createSite(siteToEdit)">Create
                            </button>

                            <div ng-messages="siteForm.name.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Please enter Site name</div>
                                <div ng-message="minlength">Site name is too short</div>
                                <div ng-message="maxlength">Site name is too long</div>
                            </div>
                            <div ng-messages="siteForm.longitude.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Please enter Longitude</div>
                                <div ng-message="minlength">Longitude is too short</div>
                                <div ng-message="maxlength">Longitude is too long</div>
                            </div>
                            <div ng-messages="siteForm.latitude.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Please enter Latitude</div>
                                <div ng-message="minlength">Latitude is too short</div>
                                <div ng-message="maxlength">Latitude is too long</div>
                            </div>

                            <div ng-messages="siteForm.addresswrapper_city.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Please enter City name</div>
                                <div ng-message="minlength"> City name is too short</div>
                                <div ng-message="maxlength"> City name is too long</div>
                            </div>
                            <div ng-messages="siteForm.street.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Please enter Street (Address)</div>
                                <div ng-message="minlength">Street is too short</div>
                                <div ng-message="maxlength">Street is too long</div>
                            </div>
                            <div ng-messages="siteForm.addresswrapper_number.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Please enter Number (Address)</div>
                                <div ng-message="minlength">Number is too short</div>
                                <div ng-message="maxlength">Number is too long</div>
                            </div>
                            <div ng-messages="siteForm.addressWrapper_zip.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Please enter Zip (Address)</div>
                                <div ng-message="minlength">Zip is too short</div>
                                <div ng-message="maxlength">Zip is too long</div>
                            </div>
                            <div ng-if="siteToEdit.selectedTimeZone == null" style="color:maroon">
                                Please select Time Zone.
                            </div>
                            <div ng-if="siteToEdit.calibrationEnd == null" style="color:maroon">
                                Please select Calibration end date.
                            </div>
                            <div ng-if="openingHours != 'changed' && createMode" style="color:maroon">
                                Please set Opening Times.
                            </div>

                            <div ng-if="selectedCountry==='select a country'"
                                 style="color:maroon"> Please select Country.
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5">
                        <div ng-show="(createMode || editMode) && !displayPassageDetails && !displayNewCaptureRate"
                             class="form-group"
                             style="float:right">
                            <button type="submit" class="btn btn-danger" ng-if="editMode"
                                    ng-click="cancel()">Cancel
                            </button>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </form>

</div>
</div>


<div class="panel-footer"></div>


</body>
</html>
