<div ng-cloak>


    <div id="users-panel" class="panel panel-default">

        <p class="panel-body">

        <div ng-if="loading">
            <span class="fa fa-cog fa-spin fa-4x"></span> Loading Users list...
        </div>

        <div class="row">
            <div class="col-md-6">
                <div ng-if="!loading">
                    <table class="table-striped table">
                        <thead class="panel-title">
                        <th class="col-md-1" ng-click="changeSorting('last_name')"><i
                                class="fa fa-sort"></i>Last name
                        </th>
                        <th class="col-md-2">First Name</th>
                        <th class="col-md-2">Jira name</th>
                        <th class="col-md-2">Group(s)</th>

                        </thead>
                        <div>

                            <tbody>
                            <tr ng-repeat="user in users  |orderBy:sort.column:sort.descending">

                                <td><strong>{{user.last_name}}</strong></td>
                                <td> {{user.first_name}}</td>
                                <td> {{user.jiraName}}</td>
                                <td>
                                    <div ng-repeat="group in user.group">
                                        {{group.name}}
                                    </div>

                                </td>
                            </tr>


                            </tbody>
                        </div>
                    </table>

                    <p class="alert alert-info" ng-if="users.length == 0">
                        No Users found for this Application.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="panel-footer"></div>
</div>
</div>

</div>

</body>
</html>
