{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %} Images results : {% endblock %}
{{images|length}}
{% block page_content %}
<div class="page-header">


</div>


<div class="table-responsive">
    <table class="table table-striped table-hover ">
        {% if images is not none %}
        {% for image in images %}
        <tr>


            <td>
                {{ image.articles.date }}
            </td>
            <td>
                {{ image.image_caption }}
            </td>
            <td>

                <a>{{ image.articles.article_title }}</a>
            </td>
            <td>
                <a href={{ image.image_link }}>
                    <img src={{ image.image_link }} alt="Smiley face" height="42"
                         width="42">
                </a>


            </td>


        </tr>

        {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock %}


